salesforce-lavis
torch
torchvision
transformers
pillow
streamlit
pydub
torchaudio
git+https://github.com/mmabrouk/chatgpt-wrapper
accelerate
argh
dacite
demucs
diffusers>=0.9.0
flask
flask_cors
numpy
pillow>=9.1.0
plotly
pysoundfile
scipy
soundfile
sox
streamlit>=1.18.0